.dashboardContainer {
  .content {
    width: calc(100% - 250px);
    margin-left: auto;
    padding: 24px;
  }

  .filterSection {
    padding: 10px;
    .dateFilter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
    }
  }
  .whiteText {
    color: #d1d5db !important;
  }
  .timFilters {
    display: flex;
    justify-content: space-between;
  }
}

@media (prefers-color-scheme: dark) {
  .fieldset {
    box-shadow: 0px 0px 5px #1d4ed8;
  }
}
