.dashboardContainer {
  .content {
    width: calc(100% - 250px);
    margin-left: auto;
    padding: 24px;
  }
  .filterSection {
    padding-top: 30px;
    .dateFilter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
    }
  }

  // .tableMainSection {
  // height: calc(100vh - 180px);
  // width: 100%;
  // > div > div > div {
  //   &::-webkit-scrollbar {
  //     height: 3px;
  //   }
  //   &::-webkit-scrollbar-track {
  //     background: $grey;
  //     border-radius: 5px;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background: $light-grey;
  //     border-radius: 5px;
  //   }
  // }
  // }
  .whiteText {
    color: #d1d5db !important;
  }
}
